<main id="reset" class="customer"> 
    <section class="tac fw page-header">
      <h2 class="text-green nmb">Reset Password</h2>
      <h3 class="nmt"> Enter a new password for {{ email }} </h3>
    </section>    
    <section>
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}
        <h3 class="text-green ib"><label for="password">Password</label></h3>
        <input type="password" value="" name="customer[password]" size="16" class="background-lightgray">
        <h3 class="text-green ib"><label for="password_confirmation">Confirm New Password</label></h3>
        <input type="password" value="" name="customer[password_confirmation]" class="background-lightgray">
        <input class="clickable" type="submit" value="Reset Password">
      {% endform %}
    </section>  
</main>
