<span id="currencies">
  {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
  {% assign supported_codes = settings.supported_currencies | split: ' ' %}
  View prices in: &nbsp; 
  <span data-currency="{{ shop.currency }}" class="{% if shop.currency == shop.currency %}selected {% endif %}">{{ shop.currency }}</span> &nbsp;
  {% for code in supported_codes %}
    {% if code != shop.currency and codes contains code %}
      <span data-currency="{{ code }}" class="{% if shop.currency == code %}selected {% endif %}">{{ code }}</span> &nbsp; 
    {% endif %}
  {% endfor %}
</span>