<div class="modal" id="holiday-modal" style="display:none; min-width: 300px;">
  <div class="holiday-modal" style="background-color: #CBECF5;">
    <div class="tac">
      <p class="tar nmt klaviyo_header_close clickable" style="font-size: 13pt; padding: 10px;">✕</p>
      <h2 class="text-white tac accent">Holiday Deals are Here!</h2>
      <p>Spend $100+ and get a scarf for free<br>
        with code: <b>SCARF100</b></p>
       <p>Buy an 8 Pack of Socks and get a 2 Pack for free<br>
        with code: <b>PACASBOGO</b></p>
       <p>Get 10% off your entire order<br>
        with code: <b>PACAS10</b></p>
    </div>
    <img data-src="{{'wait.png' | asset_url}}" class="lazyload fw" style="margin-bottom: -5px;"/>
  </div>
</div>