<div class="pagination">
	{% if collection.previous_product %}<a class="prev" href="{{ collection.previous_product }}"><!--<span class="ss-icon">navigateleft</span>-->&lt; &nbsp; Previous</a>{% endif %}
	{% if collection.next_product %}<a class="next" href="{{ collection.next_product }}">Next <!--<span class="ss-icon">navigateright</span>--> &nbsp; &gt;</a>{% endif %}
</div>