{% form 'contact' %}
  {% if form.posted_successfully? %}
    <p>Thank you for contacting us! We will get back to you as soon as possible.</p>
  {% endif %}
  
  {% if form.errors %}
  	<p class="error">Not all the fields have been filled in correctly. Please try again.</p>
  {% endif %}

<p>Ask us about this product:</p>
<br/>

  <div class="form-field">
    <label for="contact_form_name">Name</label>
    <input type="text" id="contact_form_name" class="contact_input" name="contact[name]" value="{{ form.name }}" />
  </div>
  <div class="form-field">
    <label for="contact_form_email">Email</label>
    <input type="text" id="contact_form_email" class="contact_input" name="contact[email]" value="{{ form.email }}"/>
  </div>
  <input type="hidden" id="contact_form_subject" name="contact[subject]" value="{{ product.title }}"/>
  <div class="form-field message">
  	<label for="contact_message">Inquiry</label>
  	<textarea id="contact_message" name="contact[body]" rows="5">{{ form.body }}</textarea>
  </div>
  <div class="form-field">
	<input type="submit" class="btn submit" value="Send Email"/>
  </div>
{% endform %}

<p class="message"></p>