
<main id="faq">
<section class="page-header background-yellow flex-container-no">
<div class="half-no tac">
  <h3>Frequently Asked Questions</h3>
  <p>Need more help?<br>Email us at support@pacas.us</p>
</div>
<div class='half-no'>
</div>
</section>
<section class="faq double-padding">
  <h4 class="tac">About the Product</h4>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>What's the difference between alpaca fleece and merino wool?</b><b class="answer-toggle">></b></span></p>
    <div class="flex-container-do">
      <div class="flex-container-no">
    <img src="{{'alpaca.png' | asset_url}}"/>
    <div>
      <h4 class="accent nm">Alpaca Fleece</h4>
      <ul>
        <li>Soft, cozy & lightweight</li>
        <li>7x warmer</li>
        <li>Fine yet durable</li>
        <li>Not itchy, more elastic</li>
        <li>Hypoallergenic</li>
        <li>Sustainable</li>
        <li>Feels natural, looks luxurious</li>
      </ul>
    </div>
  </div>
  <div class="flex-container-no">
    <img src="{{'sheep.png' | asset_url}}"/>
    <div>
    <h4 class="accent nm">Sheep Wool</h4>
      <ul>
        <li>Itchy, scratchy, & prickly</li>
        <li>Uncomfortable</li>
        <li>Hot, less breathable</li>
        <li>Shrinks and pills</li>
        <li>Low price and quality</li>
      </ul>
    </div>
  </div>
  </div>
</p>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>How do I wash my Pacas?</b><b class="answer-toggle">></b></span>
  <span class="block answer">When it’s time to wash your socks, you can add them to the washing machine with like colors. Make sure to run your socks on the gentle cycle with cold water to prevent any damage, tumble dry.</span></p>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>Were any alpaca harmed in the making of Pacas?</b><b class="answer-toggle">></b></span>
  <span class="block answer">Absolutely not! Like sheep, alpacas do not naturally molt or lose their coat. It is essential that they be sheared to increase their comfort levels and reduce their risk of heat stroke during the warmer months.  
  </span></p>
</section>

<section class="faq background-yellow double-padding">
  <h4 class="tac">About Shipping</h4>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>What shipping service do you use?</b><b class="answer-toggle">></b></span>
  <span class="block answer">We ship via UPS with a transfer to your local post office for the final leg of your delivery.</span></p>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>How long does shipping normally take?</b><b class="answer-toggle">></b></span>
  <span class="block answer">Shipping normally takes between 2 - 5 business days. If you feel that your order has been held up or delayed in processing, just email us! We are happy to get to the bottom of it for you and can resolve most shipping issues on your behalf.</span></p>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>How can I check the status of my order?</b><b class="answer-toggle">></b></span>
  <span class="block answer">When you originally placed an order, you received and email that contains a confirmation link where you can get real time updates on the status of your order. If you have an account with us, you can easily keep track of this through your dashboard. If you need any help setting up an account or finding your order status, just email us! Someone will get back to you shortly.
  </span></p>
</section>

<section class="faq double-padding">
  <h4 class="tac">About the Company</h4>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>Where is Pacas headquartered?</b><b class="answer-toggle">></b></span>
  <span class="block answer">Pacas is headquartered in Chicago, IL!</span></p>
  <p class="closed clickable"><span class="flex-container-no jsb"><b>Can I buy Pacas at a store near me?</b><b class="answer-toggle">></b></span>
  <span class="block answer">Currently, we are exclusively online. However, keep an eye out! You never know when that could change.
  </span></p>
</section>
</main>

 
<script>
  $('.faq .clickable').click(function() {
    $(this).toggleClass('closed'); 
  })
</script>