<main id="reviews">       


    <iframe src="https://pacas-reviews.herokuapp.com/reviews" /> </iframe>

</main> 

<style>
iframe {
    width: 100%;
    height: 90vh;
    border: none;
}
.customer-portal {
    position: absolute;
    right: 85px;
    top: 8px;
}
</style>